<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Clearance Morumudi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/contact">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/service">Services</a>
              </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="contact">Contact</a></li>
              <li><a class="dropdown-item" href="about">About Us</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="service">Services</a></li>
            </ul>
          </li> -->
        </ul>
        <form class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/employees">Employees</a>
              </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>