<div class="container_home">
    <!-- Header Start -->
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
   <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
       data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
       aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
   </button>
   
</header>
<!-- Header End -->

<!-- Container Fluid Start -->
<div class="container-fluid">
   <div class="row">
       <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
           <div class="position-sticky pt-3">
               <div>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora consequuntur velit eum sit, quis rem illum hic earum rerum? Fugiat?</p>
               </div>
               <div>
                   <p>
                   Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime praesentium ab repellendus numquam doloribus molestiae, deleniti, commodi maiores consectetur tenetur dolorum eos? Fugiat, dolor cum!
               </p>
               </div>
               <div>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex facilis, placeat deserunt soluta esse nemo!</p>
               </div>
               <div>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis inventore aut optio possimus repellendus ratione reprehenderit vel suscipit, deserunt impedit porro, nobis quo ea quaerat illo fugit pariatur dolore?</p>
               </div>
           </div>
       </nav>

       <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
           <div
               class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
               <h1 class="h2">About Us</h1>
           </div>

           <!-- Dashboard Content Begin -->
               <div class="container">
                   <div class="image">
                    <img [src]="pic">
                   </div>
                   <div class="para">
                       <h1>We are tech and we eat tech</h1>
                    <p>
                        We look deep into the world of tech, and bring all the new features/d to people. We alert people of what they whould expect from Technology. Since Technolody is the most helpfull tool to many and people cannot live without it, we look deep in it for it!
                    </p>
                    <h4>
                        Why not take your time and subscribe to our channel for more updates on what's new in the world of technology 
                    </h4>
                    <a routerLink="/candidate-form"><button class="btn btn-danger">Take a test</button></a> 
                   </div>
               </div>    
           <!-- Dashboard Content End -->

       </main>
   </div>
</div>
</div>
<!-- Container Fluid End -->