<div class="container_home">
    
  <!-- Header Start -->
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--  -->
</header>
<!-- Header End -->

<!-- Container Fluid Start -->
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div>
                <p>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, excepturi natus dolorum porro tenetur quam, dolorem, facere similique totam consequatur harum quos. Eius officia temporibus sint, quaerat iure delectus sapiente.
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo quod facere sapiente recusandae saepe quasi, aliquam asperiores nulla quisquam error corrupti repellat voluptatem facilis magnam perferendis itaque mollitia reprehenderit quia vel commodi enim dolorum officia ratione nostrum. Quibusdam velit optio animi eligendi, modi consequatur, vero aliquam excepturi ut, aperiam sed?
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae est eum molestias quas suscipit. Quod aliquam molestias officia veniam ex labore vitae inventore fugit, unde non ullam laborum suscipit? Quidem.
                </p>
             </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Contact Us</h1>
            </div>

            <!-- Dashboard Content Begin -->
            <div class="contact">
                <div class="first" >
                 <form >
                     <label for="fName">First Name</label>
                     <input type="text" name="fName" id="fName"><br />
                     <label for="lName">Last Name</label>
                     <input type="text" name="lName" id="lName"><br />
                     <label for="email">Email</label>
                     <input type="email" name="email" id="email"><br />
                     <label for="Feedback">Feedback</label>
                     <textarea name="feedback" id="feedback" cols="22" rows="5"></textarea>
                     <br />
                     <br />
                     <button type="submit">Submit</button>
                     <button type="reset">Clear</button>
                 </form>
                </div>
                <div class="moreInfo">
                    <p>
                    Contact us: <span> 011 435 8823 </span> <br >
                    Cell number: <span> 076 960 6305 </span>
                    </p>
                    <a href="mailto:clearancemorumudi@outlook.com" class="emailing">Click here if you want to send us email</a><br />
                    <br />
                    <u>For Social Media please follow us here.</u> <br /><br /><br />
                    <a href="https://whatsapp.com"><img [src] = "pic1"></a>
                    <a href="http://www.facebook.com"><img [src]="pic2"></a>
                    <a href="http://instagram.com"><img [src]="pic3"></a>
                    <br /><br />
                    <a href="https://linkedin.com"><img [src]="pic4"></a>
                    <a href="http://twitter.com"><img [src]="pic5"></a>
                    <a href="http://youtube.com"><img [src]="pic6"></a>
                </div>
            </div>
        </main>
    </div>
</div>       
</div>