
<div class="container_home">
    <!-- Header Start -->
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
   <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
       data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
       aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
   </button>
   
</header>
<!-- Header End -->

<!-- Container Fluid Start -->
<div class="container-fluid">
   <div class="row">
       <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
           <div class="position-sticky pt-3">
               <div>
                   <img [src]="pic4">
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora consequuntur velit eum sit, quis rem illum hic earum rerum? Fugiat?</p>
               </div>
               <div>
                   <img [src]="pic7">
                   <p>
                   Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime praesentium ab repellendus numquam.
               </p>
               </div>
               <div>
                   <img [src]="pic9">
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex facilis, placeat deserunt soluta esse nemo!</p>
               </div>
               <div>
                   <img [src]="pic1">
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis inventore aut optio possimus repellendus ratione reprehenderit vel suscipit, deserunt impedit porro, nobis quo ea quaerat illo fugit pariatur dolore?</p>
               </div>
           </div>
       </nav>

       <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
           <div
               class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
               <h1 class="h2">Our blog</h1>
           </div>

           <!-- Dashboard Content Begin -->
           <div class="container_home">
            <!-- Header Start -->
        <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
           <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
               data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
               aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
           </button>
           
        </header>
        <!-- Header End -->
        
        <!-- Container Fluid Start -->
        <div class="container-fluid">
           <div class="row">
               <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                   <div class="position-sticky pt-3">
                       <div>
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora consequuntur velit eum sit, quis rem illum hic earum rerum? Fugiat?</p>
                       </div>
                       <div>
                           <p>
                           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime praesentium ab repellendus numquam doloribus molestiae, deleniti, commodi maiores consectetur tenetur dolorum eos? Fugiat, dolor cum!
                       </p>
                       </div>
                       <div>
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex facilis, placeat deserunt soluta esse nemo!</p>
                       </div>
                       <div>
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis inventore aut optio possimus repellendus ratione reprehenderit vel suscipit, deserunt impedit porro, nobis quo ea quaerat illo fugit pariatur dolore?</p>
                       </div>
                   </div>
               </nav>
        
               <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                   <div
                       class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                       <h1 class="h2">Our News letter</h1>
                   </div>
        
                   <!-- Dashboard Content Begin -->
                      <div class="container">
                          <form>
                              <label for="name">Name:</label>
                              <input type="text" name="name" id="name"><br />
                              <label for="email">Email</label>
                              <input type="email" name="email" id="email"><br />
                              <label for="date">Date subcribed</label>
                              <input type="datetime-local" name="date" id="date"><br />
                              <button type="submit">Subscribe</button>
                              <button type="reset">Clear</button>
                          </form>
                      </div>
                   <!-- Dashboard Content End -->
        
               </main>
           </div>
        </div>
        </div>
        <!-- Container Fluid End -->
           <!-- Dashboard Content End -->

       </main>
   </div>
</div>
</div>
<!-- Container Fluid End -->