.container_home{
     background: linear-gradient(to top, yellow, orange, darkorange, orangered, red, maroon);
}


.h2{
    color:#fff;
    margin-left: 35%;
    font-size: 2.9rem;
}

img{
    width: 220px;
    height: 120px;
    margin-top: 10px;
}


label.validation-error {
    color:red;
    margin: 5px;
}

.hide {
    display: none;
}