<div class="container_home">
      <!-- Header Start -->
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--  -->
</header>
<!-- Header End -->

<!-- Container Fluid Start -->
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
               <!-- <img [src]="pic"><br /><br />
               <p>
                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti eligendi fugit ut, dolores sed dolor sunt inventore velit! Vel quidem esse error culpa? Illum, non magnam? Eveniet deleniti ex provident!
               </p> -->
               <img [src]="pic"><br /><br />
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti eligendi fugit ut, dolores sed dolor sunt inventore velit! Vel quidem esse error culpa? Illum, non magnam? Eveniet deleniti ex provident! <br />
            <marquee behavior="left" direction="left"> <small><strong> ads by mcDock High</strong></small></marquee>
            </p>
            <br /><br />
            <img [src]="pic1"><br /><br />
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quo. Quidem ipsam facilis numquam fugit dignissimos cumque atque eligendi corrupti? <br />
                <marquee behavior="right" direction="right"><small><strong> ads by nike </strong></small></marquee>
            </p>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>

            <!-- Dashboard Content Begin -->
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Welcome to Learning Full stack web development..</h1>
                    <br /><br />
                    <p class="col-md-12 fs-4" align="justify">Using a series of utilities, you can create this
                        jumbotron, just like
                        the one in previous versions of Bootstrap. Check out the examples below for how you can
                        remix and restyle it to your liking. Using a series of utilities, you can create this
                        jumbotron, just like
                        the one in previous versions of Bootstrap. Check out the examples below for how you can
                        remix and restyle it to your liking. Using a series of utilities, you can create this
                        jumbotron, just like
                        the one in previous versions of Bootstrap. Check out the examples below for how you can
                        remix and restyle it to your liking.</p>
                    <br /><br />
                    <a routerLink="/candidate-form"><button class="btn btn-primary btn-lg" type="button">Take a test</button></a>
                </div>
            </div>
            <!-- Dashboard Content End -->

        </main>
    </div>
</div>
<!-- Container Fluid End -->
</div>