
<div class="container_home">
    <!-- Header Start -->
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
   <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
       data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
       aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
   </button>
   
</header>
<!-- Header End -->

<!-- Container Fluid Start -->
<div class="container-fluid">
   <div class="row">
       <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
           <div class="position-sticky pt-3">
               <div>
                   <img [src]="pic4">
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora consequuntur velit eum sit, quis rem illum hic earum rerum? Fugiat?</p>
               </div>
               <div>
                   <img [src]="pic7">
                   <p>
                   Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime praesentium ab repellendus numquam.
               </p>
               </div>
               <div>
                   <img [src]="pic9">
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex facilis, placeat deserunt soluta esse nemo!</p>
               </div>
               <div>
                   <img [src]="pic1">
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis inventore aut optio possimus repellendus ratione reprehenderit vel suscipit, deserunt impedit porro, nobis quo ea quaerat illo fugit pariatur dolore?</p>
               </div>
           </div>
       </nav>

       <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
           <div
               class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
               <h1 class="h2">Our blog</h1>
           </div>

           <!-- Dashboard Content Begin -->
            <div class="container">
                <div class="col-md-6">
                    <img [src]="pic1">
                <br />
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora deserunt repellendus inventore sint earum, quo officia animi harum tempore enim!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet assumenda saepe sint doloribus officia animi tempora, dicta blanditiis expedita eligendi quidem asperiores nulla repellendus voluptatem modi repellat cumque dignissimos, illo ipsa magnam, numquam hic corporis? Consectetur perspiciatis aliquam reprehenderit, nemo quod dignissimos voluptas enim non vel atque possimus? Earum, commodi.
                </p>
                </div>
                <div class="col-md-6">
                    <img [src]="pic7"><br />
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo amet aliquid quod commodi? Nobis illo tempora voluptatibus animi voluptatem dolores a quod ut facere tenetur delectus labore ab, temporibus ullam eum harum sapiente corrupti quis perspiciatis earum libero? Dolore, vero.</p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aliquid labore iure, omnis earum commodi autem tenetur suscipit ea. Fuga placeat nostrum ex harum laudantium. Totam, voluptas necessitatibus maiores eaque veniam velit iusto. Quis consequatur nam facere aliquid veniam natus quas delectus totam incidunt.
                    </p>
                </div>
            </div>

            <div class="container_two">
                
                <div class="col-md-6">
                    <img [src]="pic8"><br />
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas quia deleniti accusamus sit expedita quidem possimus minima earum facilis vitae sunt quam magni, velit aperiam harum ipsa voluptate laboriosam molestiae tempore natus quisquam saepe sapiente? Eaque unde voluptatum optio! Placeat eligendi porro aut labore dolores temporibus, obcaecati et veniam impedit.
                    </p>
                </div>
                <div class="col-md-6">
                    <img [src]="pic6"><br />
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, debitis distinctio voluptatum quidem eum impedit rem, laboriosam magnam tempora maxime quis, dolorem eius! Nihil aut reprehenderit, a similique incidunt vero. Eligendi, quo. Nulla?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem fuga amet dolores recusandae, laudantium doloremque sed obcaecati soluta, delectus, suscipit maiores corporis natus distinctio quas sint. Beatae, esse voluptatibus.
                    </p>
                </div>
            </div>
           <!-- Dashboard Content End -->

       </main>
   </div>
</div>
</div>
<!-- Container Fluid End -->